{% extends "base.html" %}
{% block content %}
    <div class = "card text-white bg-dark mb-3" style = "width: 900px; height: 310px;">
        <div class = "card-header">{{ data["date"] }} ({{ convert_time(data["data"]["time"]) }})</div>
        <div class = "card-body">
            <h5 class = "card-title"><i class = "wi wi-owm-{{ data['data']['json']['weather'][0]['id'] }}"></i> {{ data["data"]["json"]["weather"][0]["description"] }}</h5>
            <p class = "card-text">
                <canvas id = "dayHistory"></canvas>
                <table class = "table table-dark table-borderless" style = "max-width: 18rem;">
                    <tbody>
                        <tr>
                            <td id = "changeToTemp" class = "graphopt">Temperature</td>
                            <td class = "value">{{ data["data"]["json"]["main"]["temp"]|round|int }}°</td>
                        </tr>
                        <tr>
                            <td id = "changeToHumidity" class = "graphopt">Humidity</td>
                            <td class = "value">{{ data["data"]["json"]["main"]["humidity"] }}%</td>
                        </tr>
                        <tr>
                            <td id = "changeToPressure" class = "graphopt">Pressure</td>
                            <td class = "value">{{ (data["data"]["json"]["main"]["pressure"] / 33.86)|round(2) }} in</td>
                        </tr>
                        <tr>
                            <td id = "changeToWind" class = "graphopt">Wind</td>
                            <td class = "value">{{ data["data"]["json"]["wind"]["speed"]|round|int }} mph</td>
                        </tr>
                        <tr>
                            <td id = "changeToVisibility" class = "graphopt">Visibility</td>
                            <td class = "value">{{ (data["data"]["json"]["visibility"] / 1609)|round|int }} mi</td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </div>
    </div>
{% endblock %}
{% block jstags %}
    <!-- Chart.js Code -->
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script>

        // Weather data
        const datasets = [
            { label: "Temperature", id: "#changeToTemp", cb: (v, i, t) => { return `${v}°F`; }, data: [{{ data["json"]["temp"]|safe }}] },
            { label: "Humidity", id: "#changeToHumidity", cb: (v, i, t) => v, data: [{{ data["json"]["humidity"]|safe }}] },                        
            { label: "Pressure", id: "#changeToPressure", cb: (v, i, t) => v, data: [{{ data["json"]["pressure"]|safe }}] },                        
            { label: "Wind", id: "#changeToWind", cb: (v, i, t) => v, data: [{{ data["json"]["wind"]|safe }}] },                        
            { label: "Visibility", id: "#changeToVisibility", cb: (v, i, t) => v, data: [{{ data["json"]["visibility"]|safe }}] },                        
        ]

        // Handle graph
        const ctx = document.getElementById("dayHistory").getContext("2d");
        const historyChart = new Chart(ctx, {
            type: "line",
            data: {
                datasets: [{ label: datasets[0].label, data: datasets[0].data, borderColor: "rgb(159, 159, 159)" }]
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                scales: {
                    x: { title: { display: true, text: "Time" } },
                    y: {
                        ticks: { callback: datasets[0].cb },
                        title: { display: true, text: datasets[0].label }
                    }
                }
            }
        });

        // Handle graph options
        for (let ds of datasets) {
            $(ds.id).click(() => {
                historyChart.options = {
                    responsive: false,
                    maintainAspectRatio: false,
                    scales: {
                        x: { title: { display: true, text: "Time" } },
                        y: {
                            ticks: { callback: ds.cb },
                            title: { display: true, text: ds.label }
                        }
                    }
                };
                historyChart.data.datasets = [{ label: ds.label, data: ds.data, borderColor: "rgb(159, 159, 159)" }];
                historyChart.update();
            })
        }
    </script>
{% endblock %}
