{% extends "base.html" %}
{% block content %}
    <h3>Configuration</h3>
    <div class = "row">
        <div class = "col-sm-6">
            <div class = "card text-white bg-dark">
                <div class = "card-header">Database</div>
                <div class = "card-body"><p class = "card-text">
                    <p>Entries (datapoints): {{ length }}</p>
                    <p>File size: {{ size }}</p>
                </div>
            </div>
        </div>
        <div class = "col-sm-6">
            <div class = "card text-white bg-dark">
                <div class = "card-header">Tracking</div>
                <div class = "card-body"><p class = "card-text">
                    <p>OWM City ID: <a href = "https://openweathermap.org/city/{{ config.get('main.owm.city_id') }}" target = "_blank">{{ config.get("main.owm.city_id") }}</a></p>
                    <p>Interval: {{ config.get("main.save_interval") }}m</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
