{% extends "base.html" %}
{% block content %}
    <h3>Configuration</h3>
    <table class = "table table-dark table-borderless" style = "max-width: 18rem;">
        <tbody>
            <tr>
                <th scope = "row">DB Entries</th>
                <td>{{ length }}</td>
            </tr>
            <tr>
                <th scope = "row">DB Size</th>
                <td>{{ size }}</td>
            </tr>
            <tr>
                <th scope = "row">OWM City ID</th>
                <td><a href = "https://openweathermap.org/city/{{ config.get('main.owm.city_id') }}">{{ config.get("main.owm.city_id") }}</a></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
