{% extends "base.html" %}
{% block content %}
    <div class = "card text-white bg-dark mb-3" style = "width: 18rem; height: 105%; float: left;">
        <div class = "card-body">
            <div class = "card text-white bg-dark mb-3" style = "height: 92%; overflow-y: scroll;">
                {% for day in data %}
                    <p class = "no-margin"><a onclick = "renderEmbed('{{ day }}');">{{ day }}</a> <a onclick = "openDropdown('{{ day.replace('/', '_') }}');"><i class = "fa-solid fa-caret-right"></i></a></p>
                    <br>
                    <div class = "collapse" id = "{{ day.replace('/', '_') }}">
                        <div class = "card card-body card-nobg">
                            {% for entry in data[day] %}
                                <a onclick = "renderEmbedTime('{{ day }}', '{{ entry['time'] }}');"><i class = "fa-solid fa-arrow-turn-down-right"></i> {{ convert_time(entry["time"]) }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <input class = "input-control" type = "date" id = "dateInput">
            <button class = "btn btn-success" style = "width: 5.5rem;" id = "load_date"><i class = "fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <embed type = "text/html" src = "" width = "920" height = "340" id = "weatherEmbed" style = "float: left; padding-left: 20px;">
{% endblock %}
{% block jstags %}
    <script>
        function renderEmbed(date) {
            document.getElementById("weatherEmbed").src = `/widgets/weather?date=${date}`;
        }
        function renderEmbedTime(date, time) {
            document.getElementById("weatherEmbed").src = `/widgets/weather?date=${date}&time=${time}`;
        }
        function openDropdown(date) {
            new bootstrap.Collapse($(`#${date}`)).toggle();
        }
        $("#load_date").click(() => { renderEmbed($("#dateInput").val()); })
    </script>
{% endblock %}
