{% extends "base.html" %}
{% block content %}

    <!-- Custom CSS -->
    <style>
        .historical-container {
            float: left;  /* Allows the embed to render next to the sidebar */
            width: 18rem;  /* Perfect scaled size, don't change */
            height: 105%;
        }
        .historical-container > .card-body {
            height: 100%;
        }
        .history-scroller {
            height: 94%;  /* Gives us enough room for our manual date input */
            overflow-y: scroll;
        }
    </style>

    <div class = "card text-white bg-dark historical-container">
        <div class = "card-body">

            <!-- Day scroller -->
            <div class = "card text-white bg-dark history-scroller">
                {% for day in data %}
                    {% set day2 = day.replace("/", "_") %}
                    <p class = "no-margin">
                        <a onclick = "renderEmbed('{{ day }}');">{{ day }}</a> <!-- Do note there is a space after this link -->
                        <a onclick = "openDropdown('{{ day2 }}');"><i class = "fa-solid fa-caret-right" id = "{{ day2 }}_arrow"></i></a>
                    </p>
                    <div class = "collapse" id = "{{ day2 }}">
                        <div class = "card card-body card-nobg">
                            {% for entry in data[day] %}
                                <a onclick = "renderEmbedTime('{{ day }}', '{{ entry['time'] }}');"><i class = "fa-solid fa-arrow-turn-down-right"></i> {{ convert_time(entry["time"]) }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Manual day input -->
            <input class = "input-control" type = "date" id = "dateInput" style = "width: 10rem;">
            <button class = "btn btn-success" style = "width: 5.5rem;" id = "load_date"><i class = "fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
    <embed type = "text/html" src = "" width = "920" height = "340" id = "weatherEmbed" style = "float: left; padding-left: 20px;">
{% endblock %}
{% block jstags %}
    <script>
        function renderEmbed(date) {
            document.getElementById("weatherEmbed").src = `/widgets/weather?date=${date}`;
        }
        function renderEmbedTime(date, time) {
            document.getElementById("weatherEmbed").src = `/widgets/weather?date=${date}&time=${time}`;
        }
        function openDropdown(date) {
            new bootstrap.Collapse($(`#${date}`)).toggle();

            // Handle pointer arrow
            let current = $(`#${date}_arrow`).css("rotate");
            $(`#${date}_arrow`).css("rotate", (current == "none" || current == "0deg") ? "90deg" : "0deg");
        }
        $("#load_date").click(() => { renderEmbed($("#dateInput").val()); })
    </script>
{% endblock %}
